root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cfg,toml}]
indent_size = 4
indent_style = space

# python sux
[*.py]
indent_size = 4
indent_style = space

# yaml sux even more
[*.{yml, yaml}]
indent_size = 2
indent_style = space

[*.mkdn]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false

[*.lua]
# EmmyLuaCodeStyle config

# Highly changable personal vibes
call_arg_parentheses = keep
# unfortunately this plugin takes "every statement should end with semicolon" to
# the joke level extreme and slaps a semicolon in literally every place that
# wouldn't cause a syntax error, resulting in very silly code, so we'll have to stick with manual semicor
end_statement_with_semicolon = same_line

quote_style = double
trailing_table_separator = smart

# sorry glua code style
space_inside_function_call_parentheses = false
space_inside_function_param_list_parentheses = false
space_inside_square_brackets = false
space_around_table_field_list = true

# Death to python style arg alignment
align_call_args = false
align_function_params = false

# Joy to property alignment though
align_continuous_assign_statement = true
align_continuous_rect_table_field = true
